* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg: #ffc116;

.banner1 {
  background: $bg;
  height: 45vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    width: 25%;
    height: auto;
    margin-right: 0rem;
  }
  .text {
    margin-left: 4rem;
    h1 {
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    button {
      background: white;
      border: 1px solid black;
      color: black;
      cursor: pointer;
      padding: 1rem;
      height: 2.6rem;
      font-size: 0.8rem;
      border-radius: 100rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-top: 0.7rem;
    }
  }
}
